@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap");
@import "tailwindcss";

:root {
  --color-primary: #002211;
  --color-primary-container: #033921;
  --color-on-primary: #ffffff;
  --color-secondary: #7b5900;
  --color-secondary-container: #fcca66;
  --color-on-secondary-container: #755400;
  --color-secondary-fixed: #ffdea4;
  --color-surface: #fdf9f1;
  --color-surface-container: #f1ede6;
  --color-surface-container-low: #f7f3eb;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #ebe8e0;
  --color-on-surface: #1c1c17;
  --color-on-surface-variant: #414942;
  --color-outline: #717972;
  --color-error: #ba1a1a;
}

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    background-color: #fdf9f1;
    color: #1c1c17;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  * {
    scrollbar-width: none;
  }
}
